.logo{
    display:flex;

}
.logoImg{
    margin-top: 12px;
    width: 80px;
    height: 50px;
}

.NAME{
    font-size: x-large;
   font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.headerContainer{
    display: flex;
    border: solid 1px rgb(11, 11, 11);
}
.navContainer{
    display: flex;
    align-items: center;
}

.navContainer > ul{
    display: flex;
    list-style-type: none;
    /* margin-top: 30px; */
    margin-left: 600px;
}

.navContainer > ul > li{
    font-weight: bolder;
    margin-left: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.cardBox{
    padding-left: 20px;
    border: 1px solid black;
    width: 250px;
    overflow: hidden;
    background-color: rgb(164, 153, 153);
}

.cardBox > img{
    width: 150px;
    height: 100px;
}

 .filter-button{
   /* margin-top: 20px; */
 }

 .cardLook{
    column-gap: 20px;
    row-gap: 20px;
padding:40px;
display: flex;
flex-wrap: wrap;
 }

.shimmer-container{
    display: flex;
    row-gap: 20px;
    flex-wrap: wrap;
    padding-top: 50px;

}

 .shimmer-card{
    margin-left: 20px;
    width: 250px;
    height: 250px;
    background-color: grey;
 }

 .LOGIN{
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height:30px;
    width: auto;
    margin-left: 20px;
 }

 .upper-body{
    display: flex;
    padding: 20px;
    column-gap: 50px;
 }

 a{
    text-decoration: none;
    pointer-events: none;
 }